In [126]:
import pandas as pd
import numpy as np

In [149]:
# Create a dataframe
dat = np.array([[0, 1, 2], [1, 2, 3], [0, 4, 5]])
df = pd.DataFrame(dat, index=['R1', 'R2', 'R3'], columns=['TYPE', 'D1', 'D2'])

In [150]:
# Check out the data frame
df

    TYPE  D1  D2
R1     0   1   2
R2     1   2   3
R3     0   4   5

In [151]:
#df.iterrows?

In [168]:
tot_dict = {}
for i in df.index:
    
    cur_type = df.loc[i, 'TYPE']
    
    print(i, cur_type)
    print('BEFORE:', tot_dict)

    tot_dict.setdefault(cur_type, 0)

    print('AFTER:', tot_dict)
    
    tot_dict[cur_type] += df.loc[i, 'D2']
    
    #print('GREAT SUCCESS')

R1 0
BEFORE: {}
AFTER: {0: 0}
R2 1
BEFORE: {0: 2}
AFTER: {0: 2, 1: 0}
R3 0
BEFORE: {0: 2, 1: 3}
AFTER: {0: 2, 1: 3}

In [176]:
tot_dict

{0: 7, 1: 3}

In [163]:
df

    TYPE  D1  D2
R1     0   1   2
R2     1   2   3
R3     0   4   5

In [173]:
dd = {'KEY1': 100}

In [174]:
dd['KEY1']

100

In [175]:
dd

{'KEY1': 100}